
.sidenav {
    background-color: #3F51B5;
    width: 200px;
}
.sidenav .mat-mdc-list-base {
    --mdc-list-list-item-label-text-color:default; 
    --mdc-list-list-item-hover-label-text-color: default;
}

.sidenav a {
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.87)
}
.sidenav a:hover {
    color: rgba(255, 255, 255, 1)
}
.sidenav i {
    padding-left: 10px;
    vertical-align: text-bottom;
}